<div class="flex flex-col flex-auto min-w-0" *ngIf="data">

    <ng-container>

        <div
            class="max-w-none ml-3 mt-4 prose prose-sm"
            [innerHTML]="sanitizer.bypassSecurityTrustHtml(data.component.content.question)"></div>
        
        <!-- Name -->
        <div class="mt-4">
            
            <mat-radio-group
                aria-labelledby="example-radio-group-label"                    
                [value]="data.runtime.data.answer">
                <mat-radio-button (click)="Select($any(option.value).key)" class="example-radio-button" *ngFor="let option of data.component.content.options | keyvalue" value="{{ $any(option.value).key}}">
                    {{ $any(option.value).value}}
                </mat-radio-button>
            </mat-radio-group>
    
        </div>    
    
    </ng-container>
    
    

</div>
